a.navbar-item {
    color: #7a7a7a;
}

a.navbar-item:hover {
    color: #3c74db !important;
    border-radius: 5px;
}

.button.is-link:hover {
    color: white !important;
    background-color: #3c74db !important;
}

.button.is-link {
    color: #3c74db !important;
    border-color: #3c74db !important;
}

a.navbar-item.is-active {
    color: #3c74db !important;
    text-decoration: underline;
    text-underline-position: under;
    background: rgba(255, 255, 255, 0);
}